@import ../css/fonts.css
$family: Aller, Arial, Helvetica, sans-serif
body
    font-family: $family
    font-size:16px

$mustard: rgb(253,208,72)
$black: rgb(56,56,56)
$blue: rgb(73,140,243)
$pink: rgb(252,88,95)
$gray: rgb(243,243,243)

.bgc-yellow
    background-color: $mustard
.bgc-blue
    background-color: $blue
.bgc-pink
    background-color: $black
.bgc-black
    background-color: $black
.bgc-gray
    background-color: $gray


.yellow
    color: $mustard
.blue
    color: $blue
.pink
    color: $pink
.black
    color: $black

.b
    font-weight: bold
.i
    font-style: italic


.paragraph
    text-align: justify
    width: 90%
    padding: 1em
    margin:5%  auto

.header
        display: flex
        text-align: justify
        align-items: center
        justify-content: start
        text-align: start

.info
    @extend .bgc-gray

    h2 
        font-size: 2.625em
        @extend .paragraph
        @extend .header

    p
        font-size: 25px 
        @extend .paragraph

.info-lg
    h3
        font-size: 2em
        @extend .paragraph
        @extend .header
    p
        font-size: 1.31em
        @extend .paragraph

.info-video
    h2
        font-size: 1.75em
        @extend .paragraph
        @extend .header
        color: white
    p
        font-size: 1em
        @extend .paragraph
        color: white