.navbar 
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center

    .container
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        align-items: center

    .item
        display: flex
        align-items: center

        a
            text-decoration: none
            color: black
            font-weight: bold
            padding: 10px
        
        a:hover
            text-decoration: none
            color: red
            background-color: pink